:root {
  --colorRed: #fe043c;
  --colorPurple: #2e266f;
  --colorGrey: #707070;
  --colorGreen: #31a24c;
  --colorBlack: #000000;
  --colorWhite: #fff5ec;
  --colorLightGreen: #35cd8c;
  --colorBeige: #ffedde;
  --colorWhite: #fff;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
}

.left {
  width: 75%;
  background-color: var(--colorBeige);
  align-items: flex-start;
  position: relative;
}
.expice {
  color: var(--colorLightGreen);
  font-size: 48px;
  font-weight: bold;
}
.food {
  color: var(--colorPurple);
  font-size: 100px;
  opacity: 5%;
  font-weight: 900;
  line-height: 100px;
}
.discover {
  color: var(--colorPurple);
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 30px;
}
.headerMainWrapper {
  padding: 15px 0 15px 20px;
  position: relative;
  margin-bottom: 150px;
}
.rectmenu {
  min-width: 462px;
  min-height: 90px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 100;
  left: 20px;
  padding: 9px 11px 9px 30px;
}
.rectmenu > p {
  color: var(--colorPurple);
  font-weight: 500;
  font-size: 18px;
  line-height: 90px;
}
.rectmenu > button {
  min-width: 146px;
  font-size: 30px;
  font-weight: 600;
  height: calc(100% - 18px);
  border: none;
  line-height: 90px;
  color: white;
  position: absolute;
  right: 11px;
  top: 9px;
  border-top-left-radius: 60px;
  background-color: var(--colorLightGreen);
}
.location {
  display: flex;
  justify-content: space-between;
  width: 280px;
  background-color: var(--colorLightGreen);
  padding: 17px 58px 17px 32px;
  color: var(--colorWhite);
  font-size: 30px;
  font-weight: medium;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.location > i {
  margin-top: 7px;
  margin-right: 10px;
  display: block;
}
.right {
  display: flex;
  justify-content: space-between;
  width: 25%;
  background-color: var(--colorLightGreen);
  align-items: flex-end;
}
.right > img {
  padding: 20px 38px;
}
.carousel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px 45px 12px;
}
.header-img {
  position: relative;
}
.header-food-img {
  display: block;
  position: absolute;
  z-index: 1;
  right: 3px;
}
.header-lettuce {
  display: block;
  position: absolute;
  z-index: 0;
  top: -110px;
  right: -20px;
}
.header-dots {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 10px;
}
.dots__img {
  position: absolute;
  top: 200px;
  z-index: 1;
}
.food__img {
  position: absolute;
  z-index: 3;
}
.lettuce__img {
  position: absolute;
  top: -148px;
  right: -500px;
  z-index: 2;
}
.header__img-absolute {
  position: absolute;
  top: 200px;
  right: 300px;
}

.food__title {
  text-align: justify;
  width: 496px;
  line-height: 50px;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 38px;
  height: 100px;
  border-left: 12px solid #35cd8c;
  font-weight: 500;
  font-size: 36px;
  font-family: "Poppins";
  color: #2e266f;
  text-transform: capitalize;
}
.food__description {
  padding-left: 52px;
  width: 496px;
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 47px;
}
.food__adver {
  background-image: url("./img/pizza.png");
  background-size: cover;
  width: 493px;
  height: 493px;
  position: relative;
}
.food__adver_description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #35cd8c;
  opacity: 0.7;
  border: 0px 0px 20px 20px;
  padding-left: 30px;
}
.food__adver_title {
  color: var(--colorWhite);
  font-weight: 700;
  font-size: 24px;
  max-width: 100px;
  margin-bottom: 15px;
}
.food__adver_text {
  color: var(--colorWhite);
  font-weight: 400;
  font-size: 14px;
  max-width: 300px;
  display: inline-block;
  margin-bottom: 29px;
}
.food__adver-button {
  float: right;
  width: 160px;
  height: 45px;
  background: var(--colorWhite);
  color: var(--colorWhiteGreen);
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  border-radius: 100px 0px 0px 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
}
.food__adver-new {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
  color: var(--colorWhite);
}
.food__select {
  display: flex;
  gap: 20px;
}
.row {
  display: flex;
}
.fa-caret-down {
  margin-top: 10px;
  margin-left: 6px;
}
@media screen and (max-width: 500px) {
  .food__img {
    width: 400px;
  }
}
